*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;;
}
/*arka plan dizaynı*/
.arkaplan{
    min-height: 100vh;
    width: 100%;
    background-color: blueviolet;
    background-position: center;
    background-size: cover;
    position: relative;
}
/*sitenin üst kısmı için ayarlar*/
nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding: 30px 30px;
    width: 200px;
}
/*üstteki seçenekler için konum ayarlaması*/
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 30px 30px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #D09CFA;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/*ortadaki yazı için ayarlamalar*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 22px;
}
.text-box h1{
    font-size: 62px;
    padding: 35px 35px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}
/*buton dizaynı*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/*buton üzerine mouse geldiğinde değişiklik yapar*/
.hero-btn:hover{
    border: 2px solid #A555EC;
    background: #D09CFA;
    transition: 1s;
    color: #460C68;
}
@media (max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #D09CFA;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 10px 15px;
        position: relative;
    }
    nav img{
        padding: 10px 10px;
        width: 60px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 20px;
        color: #fff;
    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 15px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .hero-btn:hover{
        border: 2px solid #A555EC;
        background: #D09CFA;
        transition: 1s;
        color: #460C68;
    }
}